[submodule "vcsrepo"]
	path = vcsrepo
	url = git://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "me/files/vendor/pathogen"]
	path = me/files/vendor/pathogen
	url = git://github.com/tpope/vim-pathogen.git
