snippet context "context" !b
context '${1:description}' do
	${2}
end
endsnippet
snippet describe "describe" !b
describe '${1:description}' do
	${2}
end
endsnippet
snippet it "it" !b
it { should ${1:do something} }
endsnippet
